.bc_black {
    /* outline: 3px solid black; */
    /* height: 50px; */
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page__container {
    /* position: fixed;
    left: 0; */
    width: 100%;
    height: 100%;
    padding-top: 15px;
    overflow: auto;
}

.page__col {
    height: 100%;
    overflow: auto;
}

.page__col .card {
    margin-bottom: 15px;
}

.page__row {
    height: 100%;
}

.page__form {
    /* height: 70%; */
}

.page__skip {
    /* height: 30%; */
}

.page__nav {
    display: flex;
    width: 100%;
    min-height: 46px;
}

.btn__exit {
    margin-left: auto;
}
